<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">asdfg</a></li>
                            <li><a href="">asdfg </a></li>
                            <li><a href="">asdfg </a></li>
                            <li><a href="">asdfgh </a></li>
                            <li><a href="">asdfgh </a></li>
                            <li><a href="">asdfgh</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">asdfg</a></li>
                            <li><a href="">asdfg </a></li>
                            <li><a href="">asdf </a></li>
                            <li><a href="">asdf </a></li>
                            <li><a href="">asdfg </a></li>
                            <li><a href="">asdf</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">asdfg</a></li>
                            <li><a href="">asdf </a></li>
                            <li><a href="">asdf </a></li>
                            <li><a href="">asdf </a></li>
                            <li><a href="">asdfg </a></li>
                            <li><a href="">asdfg</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> quick access</h4></header>
                        <ul>
                            <li><a href="">asdd</a></li>
                            <li><a href="">assdsad </a></li>
                            <li><a href="">sdsadsad </a></li>
                            <li><a href="">dsadsadsad </a></li>
                            <li><a href="">dsadsadsadsa </a></li>
                            <li><a href="">sdsadasdas</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <p>
                All Reserved By <a href=""> Course Creator </a> .
            </p>
        </div>
    </div>
</footer>