<div>
    <div class="row">
        <div class="mt-4 p-5 bg-dark text-white rounded">
            <h1>Course Creator</h1>
            <p>Learning free, and becoming an expert</p>
        </div>
    </div>
    
</div>